<div class="sidebar-background" (click)="onClose()">
  <div class="sidebar" (click)="$event.stopPropagation()">
    <h2 class="mb-3">
      {{
        data()?.isRequest
          ? ('user-detail.title-request' | translate)
          : ('user-detail.title-detail' | translate)
      }}
    </h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        @if (image()) {
        <img class="avatar" [src]="image()" alt="avatar" />
        } @else {
        <img class="avatar" src="missing-avatar.webp" alt="avatar" />
        }
        <input
          type="file"
          id="user-avatar"
          accept="image/webp"
          class="ms-3"
          (change)="onSelectImage($event)"
          name="image"
        />
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'user-detail.username' | translate }}"
          formControlName="username"
        />
        <label for="input-username">{{ 'user-detail.username' | translate }}</label>
        @if (form.controls.username.invalid && form.controls.username.touched) {
        <small>{{ 'user-detail.required' | translate }}</small>
        }
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="{{ 'user-detail.email' | translate }}"
          formControlName="email"
        />
        <label for="input-email">{{ 'user-detail.email' | translate }}</label>
        @if (form.controls.email.invalid && form.controls.email.touched) {
        <small>{{ 'user-detail.valid-email' | translate }}</small>
        }
      </div>

      <div class="form-floating mb-3">
        <select type="dropdown" class="form-select" placeholder="Role" formControlName="role">
          <option value="ROLE_USER">{{ 'user-detail.role-user' | translate }}</option>
          <option value="ROLE_ADMIN">{{ 'user-detail.role-admin' | translate }}</option>
        </select>
        <label for="input-role">{{ 'user-detail.role' | translate }}</label>
      </div>

      @if (data()?.isRequest) {
      <div class="form-floating mt-4 d-flex align-items-center">
        <div>
          <i class="bi bi-envelope-arrow-up"></i> {{ 'user-detail.mail-sent' | translate }}
          <span [style]="`color: ${mailSent() ? 'green' : 'red'}`">
            {{ mailSent() ? ('common.yes' | translate) : ('common.no' | translate) }}
          </span>
        </div>
        @if (!sendingMail()) {
        <div class="tooltip-container ms-2" aria-label="Send Mail">
          <button
            class="btn btn-icon"
            aria-label="Send Mail"
            (click)="onSendMail()"
            style="padding: 0"
          >
            <i class="bi bi-send"></i>
          </button>
          <span class="tooltip-text" role="tooltip">{{ 'user-detail.send-mail' | translate }}</span>
        </div>
        } @else {
        <div class="spinner-border" style="scale: 0.5"></div>
        }
      </div>
      }

      <div class="mb-3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="language"
            formControlName="language"
            id="input-language1"
            value="EN"
          />
          <label for="input-language1" class="form-check-label">
            <span class="fi fi-gb"></span>
            English
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="language"
            formControlName="language"
            id="input-language2"
            value="PT"
          />
          <label for="input-language2" class="form-check-label">
            <span class="fi fi-pt"></span>
            Português
          </label>
        </div>
      </div>

      <div class="d-flex mt-5 gap-2">
        @if (data()?.isRequest) {
        <button class="btn btn-danger" type="button" (click)="onDeleteRequest()">
          {{ 'user-detail.delete-request' | translate }}
        </button>
        } @else {
        <button class="btn btn-warning" type="submit" [disabled]="submitting()">
          {{ 'user-detail.save-changes' | translate }}
        </button>
        @if (!data()?.active) {
        <button
          class="btn btn-outline-success"
          type="button"
          (click)="onChangeStatus(true)"
          [disabled]="submitting()"
        >
          {{ 'user-detail.activate' | translate }}
        </button>
        } @else {
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="onChangeStatus(false)"
          [disabled]="submitting()"
        >
          {{ 'user-detail.deactivate' | translate }}
        </button>
        } }
        <button type="button" class="btn btn-secondary ms-auto" (click)="onClose()">
          {{ 'user-detail.close' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
