.container {
    display: grid;
    grid-template-areas: 
        "menu header side-content"
        "menu content side-content";
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
    padding: 5px;
}

.container > div {
    padding: 10px;
}

.container > div.header {
    grid-area: header;
    text-align: center;
}

.container > div.menu {
    grid-area: menu;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}

.container > div.content {
    grid-area: content;
}

.container > div.side-content {
    grid-area: side-content;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}