.tag {
  display: inline-block;
  padding: 10px 10px;
  font-size: 0.85rem;
  line-height: 1.2;
  border-radius: 5px;
  background-color: #e7f6f4;
  border: 1px solid transparent;
  color: #274248;
  white-space: nowrap;
  margin: 2px 6px 2px 0;
  user-select: none;
}

.tag:hover {
  filter: brightness(0.98);
}
