<div class="center-card">
  <div class="d-flex flex-row" style="align-items: center">
    <h2>{{ 'password-reset.title' | translate }}</h2>
    <img src="logo.png" class="ms-5 mb-3" alt="" />
  </div>
  <p class="text-muted">{{ 'password-reset.description' | translate }}</p>

  @if (!submitting() && success()) {
  <h1 class="text-success">{{ 'password-reset.success' | translate }}</h1>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-link" [routerLink]="'/'" [disabled]="submitting()">
      {{ 'password-reset.back-home' | translate }}
    </button>
  </div>
  } @else {

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="reset-new-password">
        {{ 'password-reset.new-password' | translate }}
      </label>
      <input
        id="reset-new-password"
        type="password"
        class="form-control"
        formControlName="newPassword"
        autocomplete="off"
      />
    </div>
    @if (form.dirty && form.controls.newPassword.invalid &&
    form.controls.newPassword.hasError('required')) {
    <small>{{ 'password-reset.required' | translate }}</small>
    }
    <div class="mb-3">
      <label class="form-label" for="reset-confirm-new-password">
        {{ 'password-reset.confirm-new-password' | translate }}
      </label>
      <input
        id="reset-confirm-new-password"
        type="password"
        class="form-control"
        formControlName="newPasswordConfirm"
        autocomplete="off"
      />
      @if (form.dirty && form.controls.newPasswordConfirm.invalid &&
      form.controls.newPasswordConfirm.hasError('required')) {
      <small class="text-danger">{{ 'password-reset.required' | translate }}</small>
      } @if (form.dirty && form.invalid && form.hasError('passwordsMismatch')) {
      <small class="text-danger">{{ 'password-reset.passwords-mismatch' | translate }}</small>
      }
    </div>

    <div class="d-flex justify-content-between mb-3">
      <button type="submit" class="btn btn-warning" [disabled]="form.invalid || submitting()">
        {{ 'password-reset.save-changes' | translate }}
      </button>
      <button type="button" class="btn btn-link" [routerLink]="'/'" [disabled]="submitting()">
        {{ 'password-reset.back-home' | translate }}
      </button>
    </div>
    @if (submitting()) {
    <div class="spinner-border" style="scale: 0.5"></div>
    } @else if (errorMessage()) {
    <small class="text-danger">{{ errorMessage() }}</small>
    }
  </form>
  }
</div>
