.list-square {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
}

.alerts {
  position: fixed;
  top: 5px;
  right: 5px;
}
