<div id="menu">
    <div>
        <h3>Menu</h3>
        <mat-form-field apperance="fill">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search">
        </mat-form-field>
        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
    </div>

    <h5>Tasks</h5>
    <div id="menu-items" class="vertical-list">
        <a href="#" class="active">
            <i class="fa-solid fa-clipboard-list"></i>
            All
        </a>
        <a href="#">
            <i class="fa-solid fa-list-check"></i>
            Today
        </a>
        <a href="#">
            <i class="fa-solid fa-angles-right"></i>
            Upcoming
        </a>
        <a href="#">
            <i class="fa-solid fa-calendar-days"></i>
            Calendar
        </a>
    </div>
    <div id="menu-footer" class="vertical-list">
        <a href="#">
            <i class="fa-solid fa-gears"></i>
            Settings
        </a>
        <a href="#">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Sign out
        </a>
    </div>
</div>