li {
  --bs-icon-link-transform: translate3d(0, -0.125rem, 0);
}

li:hover {
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5px;
}

li > .active {
  background-color: lightgray;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
}

li a {
  text-decoration: none;
  color: inherit;
}

.count-badge {
  width: 24px;
  height: 24px;
  background-color: #e0e0e0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
}
