<div class="center-card">
  <div class="d-flex flex-row" style="align-items: center">
    <h2>Reset password</h2>
    <img src="logo.png" class="ms-5 mb-3" alt="" />
  </div>
  <p class="text-muted">Fill one of the fields to reset your password.</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="reset-username">Username</label>
      <input
        id="reset-username"
        type="text"
        class="form-control"
        formControlName="username"
        autocomplete="off"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="reset-email">Email</label>
      <input
        id="reset-email"
        type="text"
        class="form-control"
        formControlName="email"
        autocomplete="off"
      />
      @if (form.controls.email.dirty && form.controls.email.hasError('email')) {
      <small class="text-danger">Field must be a valid email address</small>
      }
    </div>

    <div class="d-flex justify-content-between mb-3">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitting()">
        Reset
      </button>
      <button type="button" class="btn btn-link" [routerLink]="'/'" [disabled]="submitting()">
        Back to homepage
      </button>
    </div>
    @if (submitting()) {
    <div class="spinner-border" style="scale: 0.5"></div>
    } @else if (message()) {
    <small [class]="messageClass">{{ message() }}</small>
    }
  </form>
</div>
