name: PullRequest_CI

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: ci_build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up node 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build Angular project
        run: npm run build -- --configuration production # Update to match your build script
